{{- if .Values.bitwarden.enabled }}
apiVersion: k8s.bitwarden.com/v1
kind: BitwardenSecret
metadata:
  name: {{ include "rustdesk-server.fullname" . }}-secrets
  labels:
    {{- include "rustdesk-server.labels" . | nindent 4 }}
spec:
  organizationId: {{ .Values.bitwarden.organizationId | quote }}
  secretName: {{ include "rustdesk-server.fullname" . }}-keys
  authToken:
    secretName: {{ .Values.bitwarden.authTokenSecret }}
    secretKey: {{ .Values.bitwarden.authTokenKey }}
  {{- with .Values.bitwarden.secretMappings }}
  map:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
